.git
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.history
*.log
.DS_Store
project_2_abtest/backend/.pytest_cache
project_2_abtest/backend/tests/__pycache__
project_2_abtest/frontend/__pycache__
